.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: -2px;
    margin-left: 50px;
    box-shadow: 0 4px 8px 0 rgba(177, 124, 124, 0.2);
    border-radius: 5px;
}

.button {
    display: flex;
    justify-content: end;
    padding: 10px;
    
}

