input {
    display: flex;
    flex-direction: column;
    padding: 6px;
    border: 10px solid red ;

}

.lableStyle {
    color:brown;
    font-weight: 500;
    padding: 6px;
    border: 10px solid red ;
}
